<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd"> 
    
<hibernate-configuration>
    <session-factory>        
        <mapping class="com.binhhv.model.User" />
        <mapping class="com.binhhv.model.Role" />
        <mapping class="com.binhhv.model.UserAndRole" />
        <mapping class="com.binhhv.model.Blog" />
        <mapping class="com.binhhv.model.Category" />
    </session-factory> 
          
</hibernate-configuration>