@CHARSET "ISO-8859-1";
.profile-name{
	color:white;
	font-style: normal;
	font-weight: bold;
}
.error-image-404 img { width: 100%;}
.error-image-404 {display: table-cell;vertical-align: middle}
.register-form{
	margin: 0 auto;
}
.error {
	padding: 15px;
	margin-bottom: 20px;
	border: 1px solid transparent;
	border-radius: 4px;
	color: #a94442;
	background-color: #f2dede;
	border-color: #ebccd1;
}
.msg {
	padding: 15px;
	margin-bottom: 20px;
	border: 1px solid transparent;
	border-radius: 4px;
	color: #31708f;
	background-color: #d9edf7;
	border-color: #bce8f1;
}
.row-category{
	padding-top:20px;
}
.dataTables_filter, .paging_simple_numbers{
	float:right;
}