@CHARSET "ISO-8859-1";
.profile-name{
	color:white;
	font-style: normal;
	font-weight: bold;
}
.error-image-404 img { width: 100%;}
.error-image-404 {display: table-cell;vertical-align: middle}